# Supabase Cloud
VITE_SUPABASE_URL=https://xpbqiespfocfkrpxxsyb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_5__y06APdmygfJx0SzoxmA_tAhf6U96

# Adapter (true = SupabaseAdapter, false = LocalAdapter)
VITE_SUPABASE_ADAPTER=false